/* You can add global styles to this file, and also import other style files */
/*@import url(../node_modules/bootstrap/dist/css/bootstrap.css);*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* .mat-dialog-container {
  left : 10px;
} */

.chat-window-dialog
 .mat-dialog-container {
  background-color: rgb(247, 247, 249);
  align-items: right;
  text-align: left;
  height: 500px;
  width : 400px;
  border-radius: 15px;
  font-family: radley;
  padding: 0px;

}
.chat-window-dialog .mat-dialog-title {

  background-color: #B93160;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 20px;
  font-style: radley;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
